@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  @apply text-natural-black;
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #d9d9d9 #ffffff;
  }

  *::-webkit-scrollbar {
    --size: 8px;
    width: var(--size);
    height: var(--size);
  }

  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #ffffff;
    padding-inline: 2px;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #d9d9d9;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #d9d9d9;
  }

  *::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
  }
  h2 {
    font-size: 22px;
    line-height: 33px;
  }
  h3,
  label {
    @apply text-base leading-6 font-medium;
  }
  h4 {
    @apply text-sm;
    line-height: 18px;
  }
  p {
    @apply leading-6;
  }
  span {
    @apply text-sm;
  }

  input {
    @apply placeholder:text-light-grey text-base text-black focus:outline-none;
  }

  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    @apply w-full cursor-pointer outline-none border-none h-1 bg-primary-red bg-opacity-30 my-4;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply h-8 w-8 bg-primary-red rounded-full border-none transition-all ease-out duration-200;
  }
}

.react-modal-sheet-container {
  /* box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.8) !important; */
  background-color: white !important;
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  overflow: hidden;
}

.react-datepicker {
  font-family: 'Poppins', sans-serif;
}

.react-datepicker__triangle {
  display: none;
}
.react-datepicker__day-names {
  display: flex;
  padding-top: 14px;
  margin-bottom: 16px;
  border-bottom: none;
  border-top: 1px solid #f2f1ff;
}
.react-datepicker__header {
  border-bottom: none;
  background-color: white;
  padding-block: 0;
}
.react-datepicker__children-container {
  margin-inline: 0;
  margin-block-end: 20px;
  width: 100%;
}
.react-datepicker__month {
  margin: 0;
  margin-bottom: 12px;
}
.react-datepicker__current-month {
  padding-block: 12px;
  font-size: 16px;
  @apply text-dark-grey font-semibold;
}
.react-datepicker__navigation {
  top: 10px !important;
  left: 16px;
}
.react-datepicker__navigation.react-datepicker__navigation--next {
  left: auto;
  right: 16px;
}
